.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

#portal {
  position: fixed;
  width: 100%;
  top: 20vh;
  z-index: 2;
}

.cart .btn-link {
  padding: 0;
  font-size: .8rem;
}

.cart-item-wrap {
  flex-shrink: 1;
  flex-basis: 53%;
  flex-grow: 0;
}

.qty-select {
  flex-basis: 2.7rem;
  flex-grow: 0;
  padding: 0 0.4rem;
  font-size: 0.8rem;
}

.cart-price {
  flex-basis: 20%;
  flex-grow: 0;
  text-align: right;
}

td.edit_cell {
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

button.edit_btn {
  font-size: 0.5rem;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.wishlist-item {
  display: flex;
  cursor: initial !important;
  width: 200px;
  height: 120px;
  padding: 20px;
  background: #fff;
  margin-bottom: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
}

.content-wrap {
  flex: 1 1 80%;
}

.handle-wrap {
  flex: 1 1 20%;
  cursor: grab;
}
.handle-wrap img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
}